/*
* RegistrationHacks Style File
* http://bit.ly/1ywfhq7
*/

/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);


/* Montserrat Google Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url('https://fonts.googleapis.com/css?family=Muli');

/*
 * Primary Blue: #44D5FF;
 * Dark Blue: #0F2C34;
 * Primary Pink: #FF7FA8;
 */

body {
  /* font-family: 'Open Sans'; */
  font-family: 'Muli', 'Helvetica','Arial','sans-serif';
  /* font-weight: 600; */
  font-size: 18px;
  line-height: 1.5;
}

body {
  background-color:  #fff;
  color : #fff;

  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/*
a {
  color : #F7C424;
}

a:hover {
  color:#E1870E;
}*/

/***********************************************************************************************
 * Trust Badge
 ***********************************************************************************************/

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

/***********************************************************************************************
 * Hero Section
 ***********************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.hero {
  background: url(../images/hero_bg1.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 3vh;
  color : #fff;
}

.hero img {
	max-height:320px;
}

.hero .wrapper {
  padding-top: 0;
  /*background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));*/
}
/*background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));*/

.hero {
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
}

.hero hr {
    border-top: 3px solid #fff;
    margin: auto;
    width: 75%;
}

/*.hero .wrapper h1 {
  background: #fff;
  background: rgba(255, 255, 255, 0);
  display: inline-block;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -2px;
  padding: 10px 30px;
}*/
.hero .wrapper h1 {
  color: #0F2C34;
  font-family: 'Kaushan Script', cursive;
  margin-top:0;
}

.hero .wrapper h2 {
  font-size: 28px;
  font-weight: 200;
}

.hero .wrapper h3 {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  font-weight: 200;
}

/* Scrolling Icon */
#wave-wrapper {
  text-align: center;   /* to center child icon wave-scroll*/
}

#wave-scroll {
  display: inline-block;
  position: fixed;
  bottom: 20%;
}

#bird-scroll a {
	padding-top: 70px;
}
#bird-scroll a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 3em;
	height: 3em;
	margin-left: -12px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
	-webkit-animation: sdb06 1.5s infinite;
	animation: sdb06 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb06 {
	0% {
		-webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb06 {
	0% {
		transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}

#wave-scroll a {
	padding-top: 60px;
}
#wave-scroll a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 4em;
	height: 4em;
	margin-left: -23px;
	border: 2px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
#wave-scroll a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	/*width: 16px;
	height: 16px;*/
  width: 1em;
  height: 1em;
	margin: -12px 0 0 -8px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}
#wave-scroll a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 4em;
	height: 4em;
	box-shadow: 0 0 0 0 rgba(255,255,255,.1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb03 3s infinite;
	animation: sdb03 3s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/***********************************************************************************************
 * About Section
 ***********************************************************************************************/

#about {
  border-width: 15px 0;
  background-color: #0F2C34;
  padding: 30px 0;
  position: relative;
}

#about p {
  color: #fff;
  line-height: 1.6em;
  letter-spacing: -.3px;
}

#about .fa {
  color: #fff;
}

/*
#about p span {
  font-weight: 700;
  text-transform: uppercase;
}*/

#about .buttons {
  margin: 0 0;
  text-align:center;
  padding: 5vh;
}
/* padding-top: 60vh; */

#about .buttons a {
  background-color: transparent;
  border: 1px solid;
  border-color: #fff;
  /* background: #fff; */
  /*border: 10px solid #A30000;*/
  border-radius: 40px;
  color: #fff;
  display: inline;
  font-family: Lato;
  font-size: 25px;
  font-weight: 200;
  padding: 10px 70px;
  text-decoration: none;
  text-transform: uppercase;
}

#about .buttons a:hover,
#about .buttons a:focus {
  background-color:  #fff;
  color: #0F2C34;
  transition: all 0.2s ease;
}

.buttons a:not(:last-child) {
  margin-right: 10px;
}


/***********************************************************************************************
 * Info Section
 ***********************************************************************************************/

#info:before {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    top: 5vh;
    display:block;
}

#info {
  background-color: #fff;
  padding: 0px 0;
  position: relative;
  z-index:1;
}

#info img {
  max-width: 100%;
}

#info .magic {
  font-family: Montserrat;
  color: #0F2C34;
  margin-left: 2vw;
  margin-top: 8vw;
}

#info h3 {
  font-size: 4vw;
  margin-bottom: 20px;
}

#ignite-word {
  color: #FF851B;
}

#start-word {
  color: #3D9970;
}

/***********************************************************************************************
 * Gallery Section
 ***********************************************************************************************/

#gallery:before {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    top: 5vh;
    display:block;
}

#gallery {
  background-color: #fff;
  padding: 0 0;
  position: relative;
  z-index:1;
}

#gallery {
  font-size: 0; /* in parent, to remove whitespace of child inline-blocks */
}

#gallery .image-box {
  width: 33.3333%;
  display: inline-block;
}

#gallery img {
  margin: 0;
  max-width: 100%;
}

@media (min-width: 601px) and (max-width: 992px) {
	.image-box {
		width:50%;
	}
}

@media (max-width: 600px) {
	.image-box {
		width:100%;
	}
}



/*
.info .item {
  padding: 20px;
}

.info .item h1 {
  font-family: 'Montserrat';
  font-size: 45px;
  font-weight: 700;
  margin: 20px 0;
}

.info .item img {
  max-width: 450px;
  border: 5px solid #FFFFFF;
}

.info .item p {
  font-size: 20px;
}*/


/***********************************************************************************************
 * FAQ Section
 ***********************************************************************************************/

.faq:before {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    top: 0;
    display:block;
}

.faq {
  background-color: #0F2C34;
  padding-top: 2em;
  padding-bottom: 4em;
  position: relative;
    z-index:1;

}

.faq h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 30px 0;
}

.faq .question h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
}

.faq .question hr {
  border-top: 8px solid  #fff;
  margin: 20px 0;
  width: 80px;
}

.faq .question p {
  font-size: 18px;
  line-height: 1.5em;
}

.faq img {
  margin-bottom: -2px;
  margin-top: 40px;
  width: 300px;
}

/**********************************************************************************
 * Location Section
 **********************************************************************************/

 #location:before {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    top: 8vh;
    display:block;

 }

 #location {
  background-color: #fff;
  padding-top: 2em;
  padding-bottom: 4em;
  position: relative;
    z-index:1;
  padding-bottom: 0;
 }

 #location #map {
   margin-top: 2em;
 }

#location h1 {
   font-family: 'Montserrat';
   color: #0F2C34;
   font-weight: 700;
   margin-bottom: 2em;
 }

#location p {
   color: #0F2C34;
   line-height: 1.5em;
 }

/**********************************************************************************
 * Abroad Explorers Section
 **********************************************************************************/

.abroad:before {
   z-index: -1;
   position: absolute;
   left: 0;
   right: 0;
   content: '';
   top: 8vh;
   display:block;

}

.abroad {
 background-color: #fff;
 padding-top: 2em;
 padding-bottom: 4em;
 position: relative;
   z-index:1;
}

.abroad h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  color: #0F2C34;
  margin: 30px 0;
}

.abroad p {
  color: #0F2C34;
  line-height: 1.5em;
}

/***********************************************************************************************
 * Sponsors Section
 ***********************************************************************************************/

 #sponsors {
   border-width: 15px 0;
   background-color: #FFFFFF;
   padding: 30px 0;
   position: relative;
   margin-top:15px;
   color: #0F2C34;
 }

 #sponsors h1 {
   font-family: 'Montserrat';
   font-weight: 700;
   margin: 30px 0;
 }

 #sponsors p {
   font-family: 'Montserrat';
   font-size: 18px;
   line-height: 1.5em;
 }

 .partners {
   margin-top: 10vh;
 }

 .partners img {
   max-width: 30vw;
 }

 #sponsors .invite {
   margin-top: 10vh;
 }

 #sponsors .buttons {
   margin: 0 0;
   text-align:center;
   padding: 10vh;
 }
 /* padding-top: 60vh; */

 #sponsors .buttons a {
   background-color: transparent;
   border: 1px solid;
   border-color: #0F2C34;
   /* background: #fff; */
   /*border: 10px solid #A30000;*/
   border-radius: 40px;
   color: #0F2C34;
   display: inline;
   font-family: Lato;
   font-size: 25px;
   font-weight: 200;
   padding: 10px 70px;
   text-decoration: none;
   text-transform: uppercase;
 }

 #sponsors .buttons a:hover,
 #sponsors .buttons a:focus {
   background-color:  #0F2C34;
   color: #fff;
   transition: all 0.2s ease;
 }

 .buttons a:not(:last-child) {
   margin-right: 10px;
 }

 /***********************************************************************************************
  * Footer Section
  ***********************************************************************************************/
.footer:before {
    z-index: -1;
    left: 0;
    right: 0;
    content: '';
    top:0;
    display:block;
}

.footer {
  background-color:  #0F2C34;
  color: #fff;
  padding: 70px 0;
  z-index:1;
  position: relative; /* fix wave-scroll keep hidden */
}

.footer img {
  max-width: 250px;
  margin-bottom: 15px;
}

.footer h3 {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.footer h3 a {
  color: #fff;
}

@media(max-width: 768px) {
  .hero .wrapper {
    margin-top: 25vh;
  }

  /*
  .hero .buttons {
    padding-top: 20vh;
    padding-bottom: 2vh;
  }

  .hero .buttons a {
    border-width: 8px;
    display: block;
    font-size: 20px;
    margin-right:10px;
    margin-left:10px;
  }


  .hero .buttons a:not(:last-child) {
    margin-bottom: 10px;
  }*/

  .hero img {
    width: 250px;
  }
}

.clicker {
  cursor:pointer;
  color:blue;
}
