---
layout: default
---

{% include hero.html %}

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        {{ site.event.about.description | markdownify }}
      </div>
    </div>
    <div class="row links">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <div class="buttons">
          <a class="apply" href="https://my.mlh.io/oauth/authorize?client_id=de93c49c3e6ec566b27d9cd20a5bebe2a652b9412f73a9f8185b070cd425c68c&amp;redirect_uri=http%3A%2F%2Fhackbordeaux.com%2Fconfirmation&amp;response_type=token">Apply</a>
            <!--
            {% for link in site.event.hero.links %}
              {% if link.href %}
                <a href="{{ link.href }}">{{ link.text }}</a>
              {% elsif link.my_mlh %}
                <a class="apply" href="https://my.mlh.io/oauth/authorize?client_id={{ link.my_mlh.client_id }}&amp;redirect_uri={{ link.my_mlh.redirect_uri }}&amp;response_type=token">{{ link.text }}</a>
                {% endif %}
            {% endfor %}
          -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <ul id="social-networks" class="list-inline">
          <li>
            <a href="http://facebook.com/hackbordeaux"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/hackbordeaux/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="http://www.snapchat.com/add/hackbx"><i class="fa fa-snapchat fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/hackbordeaux"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
<!--
          <li>
            <a href="#"><i class="fa fa-meetup fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-medium fa-fw fa-3x"></i></a>
          </li>
-->
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="info">
  <div class="row">
    <div id = "info-row" class="col-xs-12 col-sm-6 text-center">
      <img src="{{ site.event.info.image }}" alt="" />
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="magic hidden-xs">
        <h3><span  id="ignite-word">Ignite</span> your passion</h3>
        <h3><span id="start-word">Start</span> hacking</h3>
      </div>
    </div>
  </div>

</section>

<section id="gallery">
  {% for section in site.event.info.sections %}
    <div class="image-box">
      <img src="{{ section.image }}" />
    </div>
  {% endfor %}
  <!--
  <div class="container">
    <div class="items row">
      {% for section in site.event.info.sections %}
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="item">
            <img src="{{ section.image }}" />
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
-->
</section>

<section class="abroad">
  <div class="container">
    <h1 class="text-center">Explorers</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <p class="abroad-description">
          {{ site.event.abroad.description}}
        </p>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center videoWrapper">
        <iframe src={{ site.event.abroad.video }} frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <p class="abroad-help">
          {{ site.event.abroad.help | markdownify }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr>
          {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="location">
  <div class="container">
    <h1 class="text-center">Location</h1>
    <div class="row text-center">
      <p>
        Bordeaux-INP, ENSEIRB-MATMECA, 1 Avenue du Dr Albert Schweitzer, 33400 Talence
      </p>
    </div>
  </div>
  <div id="map" style="width:100%;height:500px"></div>
</section>

<section id="sponsors">
  <div class="container">
    <h1 class="text-center">Gold Sponsor</h1>
    <div class="row gold">
      {% for logo in site.event.sponsors.gold %}
      <div class="col-sm-offset-2 col-xs-12 col-sm-8 text-center">
        <div class="item">
          <img src="{{ logo.image }}" />
        </div>
      </div>
      {% endfor %}

    </div>
    <h1 class="text-center">General Partners</h1>
    <div class="row partners">

      {% for logo in site.event.sponsors.partners %}
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="item">
          <img src="{{ logo.image }}" />
        </div>
      </div>
      {% endfor %}

    </div>
    <div class="row invite">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        {{ site.event.sponsors.invite | markdownify }}
      </div>
    </div>
    <div class="buttons">
        <a href="mailto:sponsor@hackbordeaux.com">Sponsor</a>
    </div>
   </div>
</section>
