<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.event.name }}{% endif %}</title>


  <meta name="viewport"    content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.seo.description }}{% endif %}">

  <!-- Twitter Handle -->
  <meta name="twitter:card"        content="summary" />
  <meta name="twitter:site"        content="@{{ site.social.twitter_handle }}" />
  <meta name="twitter:creator"     content="@{{ site.social.twitter_handle }}" />
  <meta name="twitter:title"       content="{{ site.seo.title }}">
  <meta name="twitter:description" content="{{ site.seo.description }}">
  <meta name="twitter:image" content="{{ site.event.hero.image }}">

  <!-- Open Graph -->
  <meta property="og:site_name"   content="{{ site.event.name }}" />
  <meta property="og:type"        content="website" />
  <meta property="og:url"         content="{{ site.baseurl | prepend: site.url }}" />
  <meta property="og:title"       content="{{ site.seo.title }}" />
  <meta property="og:description" content="{{ site.seo.description }}" />
  <meta property="og:image" content="{{ site.event.hero.image }}" />

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,300italic,400italic,700italic" />
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ '/css/bootstrap.min.css' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/base.css' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="stylesheet" type="text/css" href="{{ '/css/' | prepend: site.baseurl | prepend: site.url }}{{ site.style.theme | append: '.css' }}" />
  
  
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="fav/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="fav/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="fav/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="fav/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="fav/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="fav/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="fav/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="fav/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="fav/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="fav/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="fav/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16x16.png">
  <link rel="icon" type="image/ico" href="fav/favicon.ico">
  <link rel="manifest" href="fav/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="fav/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
  <!-- Javascript -->
  <script src="{{ '/js/jquery-3.1.1.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ '/js/main.js' | prepend: site.baseurl | prepend: site.url }}"></script>

  <!-- Favicon -->
  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon"      href="{{ '/img/favicon.ico' | prepend: site.baseurl | prepend: site.url }}">
</head>
