<section class="hero">

  <div class="wrapper text-center">
    <img id="logo" src="{{ site.event.hero.image }}" class="visible-xs visible-sm">
    <h1 rel="title" class="visible-xs visible-sm">{{ site.event.name }}</h1>
    <h3 rel="location" class="visible-xs visible-sm">{{ site.event.date }} &mdash; {{ site.event.location }}</h3>
    <img src="{{ site.event.image }}" class="hidden-xs hidden-sm">
    
  </div>

  <div class="wave-wrapper">
    <div id="wave-scroll">
      <a href="#about"><span></span></a>
    </div>
  </div>

</section>
