<!DOCTYPE html>
<html>
  {% include head.html %}

  <body{% if page.custom_class %} class="{{ page.custom_class }}"{% endif %}>
    {% include trust_badge.html %}

    {{ content }}

    <section class="footer">
      <div class="container text-center">
        <h1>{{ site.event.name }}</h1>
        <h3>&copy; 2016 {{ site.event.name }}. Template by <a href="https://github.com/nlaz">Niko Lazaris</a>.</h3>
      </div>
    </section>




    <script>
    function myMap() {
      var venue = {lat: 44.8066376, lng: -0.6051667};
      var mapCanvas = document.getElementById("map");
      var mapOptions = {
        center: new google.maps.LatLng(44.8066376, -0.6051667),
        zoom: 12
      }

      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({
          position: venue,
          map: map
        });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiZG3dpvCn8yyn8mdv01-ZrFjqmaGvOmg&callback=myMap"></script>

    {% include analytics/google_analytics.html ga_id=site.tracking.google_analytics %}
  </body>
</html>
